extends layout

block content
  h1 Find Your Train!
  h1 Hi there, this is Hasibul!
  h2 This is a pull systemY
  p Select your train below to see its current schedule.
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.
